<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/Style/tienda.css">

    <title>Producto</title>

</head>
<body>

    {{#each listaProductos}}
    <article class="producto">
        <div class="producto__info">
            <h1 class="producto__titulo">{{nombre}}</h1>
            <ul>
                <li class="producto__car">{{car1Des}}</li>
                <li class="producto__car">{{car2Des}}</li>
                <li class="producto__car">{{car3Des}}</li>

            </ul>

            <h3 class="producto__colores">Colores disponibles</h3>
            <div class="producto__col" style="background-image:url(/public/Imagenes/b_roja.png)"></div>

            <p class="producto__precio">$279.95</p>

            <button class="producto__agregar">Agregar al carrito</button>
        </div>
        <div class="producto__imgtodas">
                <div class="producto__img"></div>
                <div class="producto__botones">
                        <button class="btnimg-1"></button>
                        <button class="btnimg-2"></button>
                        <button class="btnimg-3"></button>
                </div>
                
        </div>
        

    </article>

    {{/each}}

    <article class="masinfo">
        <h1 class="masinfo__titulo">Contenido</h1>
        <p class="masinfo__con">{{Contenido[0]}}</p>
        <p class="masinfo__con">{{Contenido[1]}}</p>
        <p class="masinfo__con">{{Contenido[2]}}</p>
        <p class="masinfo__con">{{Contenido[3]}}</p>
    </article>
    
</body>
</html>