<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Style/tienda.css">
    <script src="/index.js"></script>
    <script src="/Scripts/Main.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Khula:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <title>Tienda Beats By Dr Dre</title>


</head>

<body>
    <article class="encabezado">
        <div class="encabezado__logo"></div>
        <h1 class="encabezado__titulo">Hear it First</h1>
        <p class="encabezado__filtrar">Filtrar por: </p>
        <div class="flecha"></div>
        
        <div class="encabezado__filtro">

            <div class="encabezado__filtro-forma">

                <p class="encabezado__filtro-titulo">Forma</p>
                
                <div class="encabezado__filtro-imgs">
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/headphone.png)" onclick="location.href='/tienda/headphone';"></div>
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/earphone.png)" onclick="location.href='/tienda/earphone';"></div>
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/speaker.png)"
                    onclick="location.href='/tienda/speaker';"></div>
                </div>
                
                
            </div>

            <div class="encabezado__filtro-conexion">

                <p class="encabezado__filtro-titulo">Conexión</p>

                <div class="encabezado__filtro-imgs">
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/bluetooth.png)" onclick="location.href='/tienda/bluetooth';"></div>
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/wire.png)"
                    onclick="location.href='/tienda/wire';"></div>
                </div>
               
            </div>

            <div class="encabezado__filtro-edicion">

             <p class="encabezado__filtro-titulo">Edición Especial</p>

                <div class="encabezado__filtro-imgs">
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/nba.png)" onclick="location.href='/tienda/nba';"></div>
                    <div class="encabezado__img" style="background-image:url(/Imagenes/ImagenesTienda/disney.png)" onclick="location.href='/tienda/disney';"></div>
                </div>

            </div>

        </div>
    </article> 
    

    <!--Aqui van los porductos-->
    
    <article class="tienda">

        {{#each listaProductos}}

        <div class="tienda__producto" onclick="location.href='/tienda/productos/{{id}}';">
            <div class="producto-img" style="background-image:url(/Imagenes/ImagenesTienda/{{imagen.[0]}}"></div>
            <h2 class="producto-titulo">{{nombre}}</h2>
            <div class="producto-info">
                <p class="producto-des">{{descripcion}}</p>
                <p class="producto-precio">{{precio}}</p>
                <button class="agregar">Agregar al Carrito</button>
            </div>
        </div>

        {{/each}}

    </article>
</body>
</html>